In [104]:
import pandas as pd

In [140]:
# reads file
df = pd.read_csv("./2010-2021.csv")
df

,BOROUGH,NEIGHBORHOOD,TYPE OF HOME,NUMBER OF SALES,LOWEST SALE PRICE,AVERAGE SALE PRICE,MEDIAN SALE PRICE,HIGHEST SALE PRICE,YEAR
0,MANHATTAN,ALPHABET CITY,01 ONE FAMILY HOMES,1,593362,593362,593362,593362,2010
1,MANHATTAN,ALPHABET CITY,02 TWO FAMILY HOMES,1,1320000,1320000,1320000,1320000,2010
2,MANHATTAN,ALPHABET CITY,03 THREE FAMILY HOMES,1,900000,900000,900000,900000,2010
3,MANHATTAN,CHELSEA,01 ONE FAMILY HOMES,2,500000,2875000,2875000,5250000,2010
4,MANHATTAN,CHELSEA,02 TWO FAMILY HOMES,2,1306213,2603107,2603107,3900000,2010
...,...,...,...,...,...,...,...,...,...
7172,STATEN ISLAND,WILLOWBROOK,02 TWO FAMILY HOMES,40,200000,761630,824000,1045000,2021
7173,STATEN ISLAND,WILLOWBROOK,03 THREE FAMILY HOMES,1,738000,738000,738000,738000,2021
7174,STATEN ISLAND,WOODROW,01 ONE FAMILY HOMES,85,250000,621952,635000,1150000,2021
7175,STATEN ISLAND,WOODROW,02 TWO FAMILY HOMES,51,219973,807187,780000,1282995,2021
7176,STATEN ISLAND,WOODROW,03 THREE FAMILY HOMES,1,665000,665000,665000,665000,2021

In [141]:
# gets list of column names so that there are no typos
print(df.columns.tolist())

['BOROUGH', 'NEIGHBORHOOD', 'TYPE OF HOME', 'NUMBER OF SALES', 'LOWEST SALE PRICE', 'AVERAGE SALE PRICE', 'MEDIAN SALE PRICE', 'HIGHEST SALE PRICE', 'YEAR']

In [142]:
# gets a list of unique entries under specified column
borough = df['BOROUGH'].unique()
borough

array(['MANHATTAN', 'BRONX', 'BROOKLYN', 'QUEENS', 'STATEN ISLAND'],
      dtype=object)

In [143]:
# create grouping of data using specified column
grouped = df.groupby(['BOROUGH'])
# creates a copy of specified entry within the column group
manhattan = grouped.get_group('MANHATTAN').copy()
manhattan

/var/folders/1g/j5t4q2s518533ryxlrw4rpnm0000gn/T/ipykernel_1756/2797862311.py:4: FutureWarning: When grouping with a length-1 list-like, you will need to pass a length-1 tuple to get_group in a future version of pandas. Pass `(name,)` instead of `name` to silence this warning.
  manhattan = grouped.get_group('MANHATTAN').copy()

,BOROUGH,NEIGHBORHOOD,TYPE OF HOME,NUMBER OF SALES,LOWEST SALE PRICE,AVERAGE SALE PRICE,MEDIAN SALE PRICE,HIGHEST SALE PRICE,YEAR
0,MANHATTAN,ALPHABET CITY,01 ONE FAMILY HOMES,1,593362,593362,593362,593362,2010
1,MANHATTAN,ALPHABET CITY,02 TWO FAMILY HOMES,1,1320000,1320000,1320000,1320000,2010
2,MANHATTAN,ALPHABET CITY,03 THREE FAMILY HOMES,1,900000,900000,900000,900000,2010
3,MANHATTAN,CHELSEA,01 ONE FAMILY HOMES,2,500000,2875000,2875000,5250000,2010
4,MANHATTAN,CHELSEA,02 TWO FAMILY HOMES,2,1306213,2603107,2603107,3900000,2010
...,...,...,...,...,...,...,...,...,...
6615,MANHATTAN,WASHINGTON HEIGHTS LOWER,01 ONE FAMILY HOMES,4,2300000,2456250,2450000,2625000,2021
6616,MANHATTAN,WASHINGTON HEIGHTS LOWER,02 TWO FAMILY HOMES,5,450000,1577900,1600000,2500000,2021
6617,MANHATTAN,WASHINGTON HEIGHTS LOWER,03 THREE FAMILY HOMES,1,5200000,5200000,5200000,5200000,2021
6618,MANHATTAN,WASHINGTON HEIGHTS UPPER,02 TWO FAMILY HOMES,3,850000,1416667,1400000,2000000,2021
6619,MANHATTAN,WASHINGTON HEIGHTS UPPER,03 THREE FAMILY HOMES,2,860000,955000,955000,1050000,2021

In [144]:
print(manhattan.columns.tolist())

['BOROUGH', 'NEIGHBORHOOD', 'TYPE OF HOME', 'NUMBER OF SALES', 'LOWEST SALE PRICE', 'AVERAGE SALE PRICE', 'MEDIAN SALE PRICE', 'HIGHEST SALE PRICE', 'YEAR']

In [145]:
manhattan.drop('LOWEST SALE PRICE', axis=1, inplace=True)
manhattan.drop('HIGHEST SALE PRICE', axis=1, inplace=True)
manhattan

,BOROUGH,NEIGHBORHOOD,TYPE OF HOME,NUMBER OF SALES,AVERAGE SALE PRICE,MEDIAN SALE PRICE,YEAR
0,MANHATTAN,ALPHABET CITY,01 ONE FAMILY HOMES,1,593362,593362,2010
1,MANHATTAN,ALPHABET CITY,02 TWO FAMILY HOMES,1,1320000,1320000,2010
2,MANHATTAN,ALPHABET CITY,03 THREE FAMILY HOMES,1,900000,900000,2010
3,MANHATTAN,CHELSEA,01 ONE FAMILY HOMES,2,2875000,2875000,2010
4,MANHATTAN,CHELSEA,02 TWO FAMILY HOMES,2,2603107,2603107,2010
...,...,...,...,...,...,...,...
6615,MANHATTAN,WASHINGTON HEIGHTS LOWER,01 ONE FAMILY HOMES,4,2456250,2450000,2021
6616,MANHATTAN,WASHINGTON HEIGHTS LOWER,02 TWO FAMILY HOMES,5,1577900,1600000,2021
6617,MANHATTAN,WASHINGTON HEIGHTS LOWER,03 THREE FAMILY HOMES,1,5200000,5200000,2021
6618,MANHATTAN,WASHINGTON HEIGHTS UPPER,02 TWO FAMILY HOMES,3,1416667,1400000,2021
6619,MANHATTAN,WASHINGTON HEIGHTS UPPER,03 THREE FAMILY HOMES,2,955000,955000,2021

In [146]:
# get unique groups by home type
manhattan['TYPE OF HOME'].unique()

array(['01 ONE FAMILY HOMES', '02 TWO FAMILY HOMES',
       '03 THREE FAMILY HOMES'], dtype=object)

In [147]:
# group further by home type
home = manhattan.groupby(['TYPE OF HOME'])
one = home.get_group('01 ONE FAMILY HOMES').copy()
two = home.get_group('02 TWO FAMILY HOMES').copy()
three = home.get_group('03 THREE FAMILY HOMES').copy()

/var/folders/1g/j5t4q2s518533ryxlrw4rpnm0000gn/T/ipykernel_1756/1370897903.py:3: FutureWarning: When grouping with a length-1 list-like, you will need to pass a length-1 tuple to get_group in a future version of pandas. Pass `(name,)` instead of `name` to silence this warning.
  one = home.get_group('01 ONE FAMILY HOMES').copy()
/var/folders/1g/j5t4q2s518533ryxlrw4rpnm0000gn/T/ipykernel_1756/1370897903.py:4: FutureWarning: When grouping with a length-1 list-like, you will need to pass a length-1 tuple to get_group in a future version of pandas. Pass `(name,)` instead of `name` to silence this warning.
  two = home.get_group('02 TWO FAMILY HOMES').copy()
/var/folders/1g/j5t4q2s518533ryxlrw4rpnm0000gn/T/ipykernel_1756/1370897903.py:5: FutureWarning: When grouping with a length-1 list-like, you will need to pass a length-1 tuple to get_group in a future version of pandas. Pass `(name,)` instead of `name` to silence this warning.
  three = home.get_group('03 THREE FAMILY HOMES').copy()

In [148]:
temp = one['NEIGHBORHOOD'].unique()
hood = one.groupby(['NEIGHBORHOOD'])
hood.get_group('ALPHABET CITY').copy()
one.groupby(['NEIGHBORHOOD']).count()

/var/folders/1g/j5t4q2s518533ryxlrw4rpnm0000gn/T/ipykernel_1756/2861602461.py:3: FutureWarning: When grouping with a length-1 list-like, you will need to pass a length-1 tuple to get_group in a future version of pandas. Pass `(name,)` instead of `name` to silence this warning.
  hood.get_group('ALPHABET CITY').copy()

,BOROUGH,TYPE OF HOME,NUMBER OF SALES,AVERAGE SALE PRICE,MEDIAN SALE PRICE,YEAR
NEIGHBORHOOD,,,,,,
ALPHABET CITY,5,5,5,5,5,5
CHELSEA,11,11,11,11,11,11
CLINTON,2,2,2,2,2,2
EAST VILLAGE,6,6,6,6,6,6
GRAMERCY,7,7,7,7,7,7
GREENWICH VILLAGE-CENTRAL,12,12,12,12,12,12
GREENWICH VILLAGE-WEST,12,12,12,12,12,12
HARLEM-CENTRAL,12,12,12,12,12,12
HARLEM-EAST,8,8,8,8,8,8
HARLEM-UPPER,12,12,12,12,12,12
HARLEM-WEST,2,2,2,2,2,2
INWOOD,9,9,9,9,9,9
KIPS BAY,3,3,3,3,3,3
LITTLE ITALY,5,5,5,5,5,5
LOWER EAST SIDE,2,2,2,2,2,2
MANHATTAN VALLEY,4,4,4,4,4,4
MIDTOWN EAST,12,12,12,12,12,12
MURRAY HILL,11,11,11,11,11,11
SOHO,10,10,10,10,10,10
SOUTHBRIDGE,4,4,4,4,4,4
TRIBECA,10,10,10,10,10,10
UPPER EAST SIDE (59-79),12,12,12,12,12,12
UPPER EAST SIDE (79-96),12,12,12,12,12,12
UPPER WEST SIDE (59-79),12,12,12,12,12,12
UPPER WEST SIDE (79-96),12,12,12,12,12,12
UPPER WEST SIDE (96-116),7,7,7,7,7,7
WASHINGTON HEIGHTS LOWER,9,9,9,9,9,9
WASHINGTON HEIGHTS UPPER,5,5,5,5,5,5

In [149]:
temp

array(['ALPHABET CITY', 'CHELSEA', 'CLINTON', 'EAST VILLAGE', 'GRAMERCY',
       'GREENWICH VILLAGE-CENTRAL', 'GREENWICH VILLAGE-WEST',
       'HARLEM-CENTRAL', 'HARLEM-UPPER', 'INWOOD', 'LITTLE ITALY',
       'MIDTOWN EAST', 'MURRAY HILL', 'SOHO', 'SOUTHBRIDGE', 'TRIBECA',
       'UPPER EAST SIDE (59-79)', 'UPPER EAST SIDE (79-96)',
       'UPPER WEST SIDE (59-79)', 'UPPER WEST SIDE (79-96)',
       'UPPER WEST SIDE (96-116)', 'WASHINGTON HEIGHTS LOWER', 'KIPS BAY',
       'HARLEM-EAST', 'MANHATTAN VALLEY', 'WASHINGTON HEIGHTS UPPER',
       'HARLEM-WEST', 'LOWER EAST SIDE'], dtype=object)

In [150]:
dic = {}
for h in temp:
    print(hood.get_group(h).copy())

        BOROUGH   NEIGHBORHOOD         TYPE OF HOME  NUMBER OF SALES  \
0     MANHATTAN  ALPHABET CITY  01 ONE FAMILY HOMES                1
2971  MANHATTAN  ALPHABET CITY  01 ONE FAMILY HOMES                1
4777  MANHATTAN  ALPHABET CITY  01 ONE FAMILY HOMES                2
5378  MANHATTAN  ALPHABET CITY  01 ONE FAMILY HOMES                1
6562  MANHATTAN  ALPHABET CITY  01 ONE FAMILY HOMES                1

      AVERAGE SALE PRICE  MEDIAN SALE PRICE  YEAR
0                 593362             593362  2010
2971             6500000            6500000  2015
4777             5472405            5472405  2018
5378             3200000            3200000  2019
6562             2385000            2385000  2021
        BOROUGH NEIGHBORHOOD         TYPE OF HOME  NUMBER OF SALES  \
3     MANHATTAN      CHELSEA  01 ONE FAMILY HOMES                2
587   MANHATTAN      CHELSEA  01 ONE FAMILY HOMES                2
1166  MANHATTAN      CHELSEA  01 ONE FAMILY HOMES                2
1759  MANHATTAN      CHELSEA  01 ONE FAMILY HOMES                8
2367  MANHATTAN      CHELSEA  01 ONE FAMILY HOMES                2
2973  MANHATTAN      CHELSEA  01 ONE FAMILY HOMES                3
3580  MANHATTAN      CHELSEA  01 ONE FAMILY HOMES                2
4778  MANHATTAN      CHELSEA  01 ONE FAMILY HOMES                4
5380  MANHATTAN      CHELSEA  01 ONE FAMILY HOMES                3
5977  MANHATTAN      CHELSEA  01 ONE FAMILY HOMES                2
6564  MANHATTAN      CHELSEA  01 ONE FAMILY HOMES                6

      AVERAGE SALE PRICE  MEDIAN SALE PRICE  YEAR
3                2875000            2875000  2010
587              4075000            4075000  2011
1166             2100000            2100000  2012
1759             7201875            6890000  2013
2367             4650000            4650000  2014
2973             8677448            8800000  2015
3580            10212500           10212500  2016
4778             6000000            5925000  2018
5380             7285347            6725000  2019
5977            10499950           10499950  2020
6564            11062500            9112500  2021
        BOROUGH NEIGHBORHOOD         TYPE OF HOME  NUMBER OF SALES  \
6     MANHATTAN      CLINTON  01 ONE FAMILY HOMES                1
5980  MANHATTAN      CLINTON  01 ONE FAMILY HOMES                1

      AVERAGE SALE PRICE  MEDIAN SALE PRICE  YEAR
6                3850000            3850000  2010
5980             7500000            7500000  2020
        BOROUGH  NEIGHBORHOOD         TYPE OF HOME  NUMBER OF SALES  \
7     MANHATTAN  EAST VILLAGE  01 ONE FAMILY HOMES                2
591   MANHATTAN  EAST VILLAGE  01 ONE FAMILY HOMES                1
1169  MANHATTAN  EAST VILLAGE  01 ONE FAMILY HOMES                1
1764  MANHATTAN  EAST VILLAGE  01 ONE FAMILY HOMES                1
2371  MANHATTAN  EAST VILLAGE  01 ONE FAMILY HOMES                1
5383  MANHATTAN  EAST VILLAGE  01 ONE FAMILY HOMES                5

      AVERAGE SALE PRICE  MEDIAN SALE PRICE  YEAR
7                5800000            5800000  2010
591              2522812            2522812  2011
1169             6250000            6250000  2012
1764             5250000            5250000  2013
2371             6400000            6400000  2014
5383            10430000            7650000  2019
        BOROUGH NEIGHBORHOOD         TYPE OF HOME  NUMBER OF SALES  \
10    MANHATTAN     GRAMERCY  01 ONE FAMILY HOMES                2
592   MANHATTAN     GRAMERCY  01 ONE FAMILY HOMES                1
1172  MANHATTAN     GRAMERCY  01 ONE FAMILY HOMES                1
1308  MANHATTAN     GRAMERCY  01 ONE FAMILY HOMES                1
2373  MANHATTAN     GRAMERCY  01 ONE FAMILY HOMES                1
4780  MANHATTAN     GRAMERCY  01 ONE FAMILY HOMES                2
5984  MANHATTAN     GRAMERCY  01 ONE FAMILY HOMES                2

      AVERAGE SALE PRICE  MEDIAN SALE PRICE  YEAR
10               6325000            6325000  2010
592              4775000            4775000  2011
1172             3712050            3712050  2012
1308             5750000            5750000  2013
2373             3550000            3550000  2014
4780            12075000           12075000  2018
5984            10587500           10587500  2020
        BOROUGH               NEIGHBORHOOD         TYPE OF HOME  \
11    MANHATTAN  GREENWICH VILLAGE-CENTRAL  01 ONE FAMILY HOMES
594   MANHATTAN  GREENWICH VILLAGE-CENTRAL  01 ONE FAMILY HOMES
1174  MANHATTAN  GREENWICH VILLAGE-CENTRAL  01 ONE FAMILY HOMES
1768  MANHATTAN  GREENWICH VILLAGE-CENTRAL  01 ONE FAMILY HOMES
2375  MANHATTAN  GREENWICH VILLAGE-CENTRAL  01 ONE FAMILY HOMES
2980  MANHATTAN  GREENWICH VILLAGE-CENTRAL  01 ONE FAMILY HOMES
3586  MANHATTAN  GREENWICH VILLAGE-CENTRAL  01 ONE FAMILY HOMES
4187  MANHATTAN  GREENWICH VILLAGE-CENTRAL  01 ONE FAMILY HOMES
4781  MANHATTAN  GREENWICH VILLAGE-CENTRAL  01 ONE FAMILY HOMES
5385  MANHATTAN  GREENWICH VILLAGE-CENTRAL  01 ONE FAMILY HOMES
5986  MANHATTAN  GREENWICH VILLAGE-CENTRAL  01 ONE FAMILY HOMES
6572  MANHATTAN  GREENWICH VILLAGE-CENTRAL  01 ONE FAMILY HOMES

      NUMBER OF SALES  AVERAGE SALE PRICE  MEDIAN SALE PRICE  YEAR
11                  4            13112500           13675000  2010
594                 4            12541250           12985000  2011
1174                7             8503571            8300000  2012
1768                3            10663333           10250000  2013
2375                4            12537750            8588000  2014
2980                7            16238571           18250000  2015
3586                6            17100000           16575000  2016
4187                3            14833333           14000000  2017
4781                2            23915000           23915000  2018
5385                4            12356250           11462500  2019
5986                6            15575000           16425000  2020
6572                8            16787500           16800000  2021
        BOROUGH            NEIGHBORHOOD         TYPE OF HOME  NUMBER OF SALES  \
12    MANHATTAN  GREENWICH VILLAGE-WEST  01 ONE FAMILY HOMES               11
596   MANHATTAN  GREENWICH VILLAGE-WEST  01 ONE FAMILY HOMES                7
1176  MANHATTAN  GREENWICH VILLAGE-WEST  01 ONE FAMILY HOMES               12
1770  MANHATTAN  GREENWICH VILLAGE-WEST  01 ONE FAMILY HOMES               13
2378  MANHATTAN  GREENWICH VILLAGE-WEST  01 ONE FAMILY HOMES               16
2982  MANHATTAN  GREENWICH VILLAGE-WEST  01 ONE FAMILY HOMES               16
3587  MANHATTAN  GREENWICH VILLAGE-WEST  01 ONE FAMILY HOMES               10
4190  MANHATTAN  GREENWICH VILLAGE-WEST  01 ONE FAMILY HOMES                8
4784  MANHATTAN  GREENWICH VILLAGE-WEST  01 ONE FAMILY HOMES               17
5388  MANHATTAN  GREENWICH VILLAGE-WEST  01 ONE FAMILY HOMES               18
5988  MANHATTAN  GREENWICH VILLAGE-WEST  01 ONE FAMILY HOMES               14
6574  MANHATTAN  GREENWICH VILLAGE-WEST  01 ONE FAMILY HOMES               34

      AVERAGE SALE PRICE  MEDIAN SALE PRICE  YEAR
12               7160455            6280000  2010
596              5286429            3875000  2011
1176            10693454           10025000  2012
1770             7861538            6150000  2013
2378            12483750           10475000  2014
2982            11199090            5962500  2015
3587            10275000            8100000  2016
4190             9504306            9150000  2017
4784            11050926            8655125  2018
5388             9666215            9325000  2019
5988            10799214            9547000  2020
6574            10244426            8695000  2021
        BOROUGH    NEIGHBORHOOD         TYPE OF HOME  NUMBER OF SALES  \
15    MANHATTAN  HARLEM-CENTRAL  01 ONE FAMILY HOMES                5
599   MANHATTAN  HARLEM-CENTRAL  01 ONE FAMILY HOMES                9
1179  MANHATTAN  HARLEM-CENTRAL  01 ONE FAMILY HOMES                7
1773  MANHATTAN  HARLEM-CENTRAL  01 ONE FAMILY HOMES               14
2381  MANHATTAN  HARLEM-CENTRAL  01 ONE FAMILY HOMES                1
2985  MANHATTAN  HARLEM-CENTRAL  01 ONE FAMILY HOMES               16
3590  MANHATTAN  HARLEM-CENTRAL  01 ONE FAMILY HOMES               10
4193  MANHATTAN  HARLEM-CENTRAL  01 ONE FAMILY HOMES               13
4787  MANHATTAN  HARLEM-CENTRAL  01 ONE FAMILY HOMES               10
5391  MANHATTAN  HARLEM-CENTRAL  01 ONE FAMILY HOMES                6
5991  MANHATTAN  HARLEM-CENTRAL  01 ONE FAMILY HOMES                5
6577  MANHATTAN  HARLEM-CENTRAL  01 ONE FAMILY HOMES               10

      AVERAGE SALE PRICE  MEDIAN SALE PRICE  YEAR
15               1105000            1550000  2010
599              1347426             925000  2011
1179             1536571            1860000  2012
1773             1671501            1529494  2013
2381             1629200            1629200  2014
2985             2547704            2675000  2015
3590             2177500            2180000  2016
4193             2356599            2200000  2017
4787             2553000            2387500  2018
5391             2220667            2015000  2019
5991             2200000            1870000  2020
6577             2477420            2887500  2021
        BOROUGH  NEIGHBORHOOD         TYPE OF HOME  NUMBER OF SALES  \
20    MANHATTAN  HARLEM-UPPER  01 ONE FAMILY HOMES                3
604   MANHATTAN  HARLEM-UPPER  01 ONE FAMILY HOMES                4
1185  MANHATTAN  HARLEM-UPPER  01 ONE FAMILY HOMES                4
1779  MANHATTAN  HARLEM-UPPER  01 ONE FAMILY HOMES                4
2387  MANHATTAN  HARLEM-UPPER  01 ONE FAMILY HOMES                5
2990  MANHATTAN  HARLEM-UPPER  01 ONE FAMILY HOMES                5
3596  MANHATTAN  HARLEM-UPPER  01 ONE FAMILY HOMES                5
4199  MANHATTAN  HARLEM-UPPER  01 ONE FAMILY HOMES                4
4793  MANHATTAN  HARLEM-UPPER  01 ONE FAMILY HOMES                2
5397  MANHATTAN  HARLEM-UPPER  01 ONE FAMILY HOMES                4
5996  MANHATTAN  HARLEM-UPPER  01 ONE FAMILY HOMES                2
6582  MANHATTAN  HARLEM-UPPER  01 ONE FAMILY HOMES                1

      AVERAGE SALE PRICE  MEDIAN SALE PRICE  YEAR
20               1216667            1200000  2010
604              1176250            1147500  2011
1185             1309141            1225000  2012
1779             1393094            1073438  2013
2387             1701946            1650000  2014
2990             2352750            1896000  2015
3596             2339000            2350000  2016
4199             3175000            3050000  2017
4793             1662500            1662500  2018
5397             2200000            2050000  2019
5996             2325000            2325000  2020
6582             3150000            3150000  2021
        BOROUGH NEIGHBORHOOD         TYPE OF HOME  NUMBER OF SALES  \
24    MANHATTAN       INWOOD  01 ONE FAMILY HOMES                1
1189  MANHATTAN       INWOOD  01 ONE FAMILY HOMES                2
1782  MANHATTAN       INWOOD  01 ONE FAMILY HOMES                2
2390  MANHATTAN       INWOOD  01 ONE FAMILY HOMES                3
2994  MANHATTAN       INWOOD  01 ONE FAMILY HOMES                1
3602  MANHATTAN       INWOOD  01 ONE FAMILY HOMES                3
4202  MANHATTAN       INWOOD  01 ONE FAMILY HOMES                2
5400  MANHATTAN       INWOOD  01 ONE FAMILY HOMES                5
6585  MANHATTAN       INWOOD  01 ONE FAMILY HOMES                2

      AVERAGE SALE PRICE  MEDIAN SALE PRICE  YEAR
24                600000             600000  2010
1189              475000             475000  2012
1782              471500             471500  2013
2390              498651             485954  2014
2994              399900             399900  2015
3602              475747             470000  2016
4202              636250             636250  2017
5400              800600             710000  2019
6585              895000             895000  2021
        BOROUGH  NEIGHBORHOOD         TYPE OF HOME  NUMBER OF SALES  \
27    MANHATTAN  LITTLE ITALY  01 ONE FAMILY HOMES                1
2393  MANHATTAN  LITTLE ITALY  01 ONE FAMILY HOMES                1
3605  MANHATTAN  LITTLE ITALY  01 ONE FAMILY HOMES                1
4207  MANHATTAN  LITTLE ITALY  01 ONE FAMILY HOMES                1
4798  MANHATTAN  LITTLE ITALY  01 ONE FAMILY HOMES                2

      AVERAGE SALE PRICE  MEDIAN SALE PRICE  YEAR
27              11999900           11999900  2010
2393             5500000            5500000  2014
3605             9700000            9700000  2016
4207             7090000            7090000  2017
4798            12803500           12803500  2018
        BOROUGH  NEIGHBORHOOD         TYPE OF HOME  NUMBER OF SALES  \
28    MANHATTAN  MIDTOWN EAST  01 ONE FAMILY HOMES                2
609   MANHATTAN  MIDTOWN EAST  01 ONE FAMILY HOMES                1
1193  MANHATTAN  MIDTOWN EAST  01 ONE FAMILY HOMES                4
1788  MANHATTAN  MIDTOWN EAST  01 ONE FAMILY HOMES                7
2396  MANHATTAN  MIDTOWN EAST  01 ONE FAMILY HOMES                6
3001  MANHATTAN  MIDTOWN EAST  01 ONE FAMILY HOMES                5
3608  MANHATTAN  MIDTOWN EAST  01 ONE FAMILY HOMES                2
4209  MANHATTAN  MIDTOWN EAST  01 ONE FAMILY HOMES                4
4800  MANHATTAN  MIDTOWN EAST  01 ONE FAMILY HOMES                5
5404  MANHATTAN  MIDTOWN EAST  01 ONE FAMILY HOMES                4
6003  MANHATTAN  MIDTOWN EAST  01 ONE FAMILY HOMES                1
6594  MANHATTAN  MIDTOWN EAST  01 ONE FAMILY HOMES                6

      AVERAGE SALE PRICE  MEDIAN SALE PRICE  YEAR
28               3237500            3237500  2010
609              4600000            4600000  2011
1193             6237500            5725000  2012
1788             8433914            4487500  2013
2396             6745833            5425000  2014
3001             6610000            6300000  2015
3608             6482500            6482500  2016
4209             7712500            7950000  2017
4800             7903000            7000000  2018
5404             6925000            5650000  2019
6003            11500000           11500000  2020
6594             6344667            6571500  2021
        BOROUGH NEIGHBORHOOD         TYPE OF HOME  NUMBER OF SALES  \
30    MANHATTAN  MURRAY HILL  01 ONE FAMILY HOMES                5
610   MANHATTAN  MURRAY HILL  01 ONE FAMILY HOMES                6
1196  MANHATTAN  MURRAY HILL  01 ONE FAMILY HOMES                2
1791  MANHATTAN  MURRAY HILL  01 ONE FAMILY HOMES                1
2400  MANHATTAN  MURRAY HILL  01 ONE FAMILY HOMES                2
3002  MANHATTAN  MURRAY HILL  01 ONE FAMILY HOMES                2
3611  MANHATTAN  MURRAY HILL  01 ONE FAMILY HOMES                3
4211  MANHATTAN  MURRAY HILL  01 ONE FAMILY HOMES                5
4803  MANHATTAN  MURRAY HILL  01 ONE FAMILY HOMES                2
5407  MANHATTAN  MURRAY HILL  01 ONE FAMILY HOMES                2
6597  MANHATTAN  MURRAY HILL  01 ONE FAMILY HOMES                4

      AVERAGE SALE PRICE  MEDIAN SALE PRICE  YEAR
30               3696000            3850000  2010
610              3737500            3737500  2011
1196             2862500            2862500  2012
1791             5200000            5200000  2013
2400             4237500            4237500  2014
3002             4437500            4437500  2015
3611             2913333            2875000  2016
4211             5660000            4625000  2017
4803             4897500            4897500  2018
5407             3934375            3934375  2019
6597             5700000            5850000  2021
        BOROUGH NEIGHBORHOOD         TYPE OF HOME  NUMBER OF SALES  \
32    MANHATTAN         SOHO  01 ONE FAMILY HOMES                1
613   MANHATTAN         SOHO  01 ONE FAMILY HOMES                1
1199  MANHATTAN         SOHO  01 ONE FAMILY HOMES                1
1793  MANHATTAN         SOHO  01 ONE FAMILY HOMES                1
2403  MANHATTAN         SOHO  01 ONE FAMILY HOMES                1
3004  MANHATTAN         SOHO  01 ONE FAMILY HOMES                3
3612  MANHATTAN         SOHO  01 ONE FAMILY HOMES                4
4806  MANHATTAN         SOHO  01 ONE FAMILY HOMES                2
5409  MANHATTAN         SOHO  01 ONE FAMILY HOMES                2
6600  MANHATTAN         SOHO  01 ONE FAMILY HOMES                2

      AVERAGE SALE PRICE  MEDIAN SALE PRICE  YEAR
32               4000000            4000000  2010
613              3575000            3575000  2011
1199             7000000            7000000  2012
1793             4200000            4200000  2013
2403             6250000            6250000  2014
3004             9883333           11500000  2015
3612             9564694            8546054  2016
4806            10100000           10100000  2018
5409            12273250           12273250  2019
6600            10250000           10250000  2021
        BOROUGH NEIGHBORHOOD         TYPE OF HOME  NUMBER OF SALES  \
34    MANHATTAN  SOUTHBRIDGE  01 ONE FAMILY HOMES                1
1795  MANHATTAN  SOUTHBRIDGE  01 ONE FAMILY HOMES                1
3006  MANHATTAN  SOUTHBRIDGE  01 ONE FAMILY HOMES                1
5411  MANHATTAN  SOUTHBRIDGE  01 ONE FAMILY HOMES                1

      AVERAGE SALE PRICE  MEDIAN SALE PRICE  YEAR
34               1550000            1550000  2010
1795             2131197            2131197  2013
3006             5250000            5250000  2015
5411             3075000            3075000  2019
        BOROUGH NEIGHBORHOOD         TYPE OF HOME  NUMBER OF SALES  \
35    MANHATTAN      TRIBECA  01 ONE FAMILY HOMES                1
616   MANHATTAN      TRIBECA  01 ONE FAMILY HOMES                1
1201  MANHATTAN      TRIBECA  01 ONE FAMILY HOMES                1
1796  MANHATTAN      TRIBECA  01 ONE FAMILY HOMES                3
2407  MANHATTAN      TRIBECA  01 ONE FAMILY HOMES                1
3007  MANHATTAN      TRIBECA  01 ONE FAMILY HOMES                2
4213  MANHATTAN      TRIBECA  01 ONE FAMILY HOMES                1
4808  MANHATTAN      TRIBECA  01 ONE FAMILY HOMES                3
5413  MANHATTAN      TRIBECA  01 ONE FAMILY HOMES                2
6601  MANHATTAN      TRIBECA  01 ONE FAMILY HOMES                1

      AVERAGE SALE PRICE  MEDIAN SALE PRICE  YEAR
35              24065000           24065000  2010
616              6490000            6490000  2011
1201            10500000           10500000  2012
1796             9166667            5750000  2013
2407             5500000            5500000  2014
3007            14850000           14850000  2015
4213            18000000           18000000  2017
4808             7666667            7000000  2018
5413            15863567           15863567  2019
6601             5150000            5150000  2021
        BOROUGH             NEIGHBORHOOD         TYPE OF HOME  \
36    MANHATTAN  UPPER EAST SIDE (59-79)  01 ONE FAMILY HOMES
617   MANHATTAN  UPPER EAST SIDE (59-79)  01 ONE FAMILY HOMES
1202  MANHATTAN  UPPER EAST SIDE (59-79)  01 ONE FAMILY HOMES
1797  MANHATTAN  UPPER EAST SIDE (59-79)  01 ONE FAMILY HOMES
2409  MANHATTAN  UPPER EAST SIDE (59-79)  01 ONE FAMILY HOMES
3009  MANHATTAN  UPPER EAST SIDE (59-79)  01 ONE FAMILY HOMES
3615  MANHATTAN  UPPER EAST SIDE (59-79)  01 ONE FAMILY HOMES
4214  MANHATTAN  UPPER EAST SIDE (59-79)  01 ONE FAMILY HOMES
4810  MANHATTAN  UPPER EAST SIDE (59-79)  01 ONE FAMILY HOMES
5415  MANHATTAN  UPPER EAST SIDE (59-79)  01 ONE FAMILY HOMES
6009  MANHATTAN  UPPER EAST SIDE (59-79)  01 ONE FAMILY HOMES
6602  MANHATTAN  UPPER EAST SIDE (59-79)  01 ONE FAMILY HOMES

      NUMBER OF SALES  AVERAGE SALE PRICE  MEDIAN SALE PRICE  YEAR
36                 22             8728302            7625000  2010
617                13            14779163            8300000  2011
1202               23            11866161            8300000  2012
1797               21            10412902            6875000  2013
2409               20            14069559            8365000  2014

/var/folders/1g/j5t4q2s518533ryxlrw4rpnm0000gn/T/ipykernel_1756/3807886375.py:3: FutureWarning: When grouping with a length-1 list-like, you will need to pass a length-1 tuple to get_group in a future version of pandas. Pass `(name,)` instead of `name` to silence this warning.
  print(hood.get_group(h).copy())
/var/folders/1g/j5t4q2s518533ryxlrw4rpnm0000gn/T/ipykernel_1756/3807886375.py:3: FutureWarning: When grouping with a length-1 list-like, you will need to pass a length-1 tuple to get_group in a future version of pandas. Pass `(name,)` instead of `name` to silence this warning.
  print(hood.get_group(h).copy())
/var/folders/1g/j5t4q2s518533ryxlrw4rpnm0000gn/T/ipykernel_1756/3807886375.py:3: FutureWarning: When grouping with a length-1 list-like, you will need to pass a length-1 tuple to get_group in a future version of pandas. Pass `(name,)` instead of `name` to silence this warning.
  print(hood.get_group(h).copy())
/var/folders/1g/j5t4q2s518533ryxlrw4rpnm0000gn/T/ipykernel_1756/3807886375.py:3: FutureWarning: When grouping with a length-1 list-like, you will need to pass a length-1 tuple to get_group in a future version of pandas. Pass `(name,)` instead of `name` to silence this warning.
  print(hood.get_group(h).copy())
/var/folders/1g/j5t4q2s518533ryxlrw4rpnm0000gn/T/ipykernel_1756/3807886375.py:3: FutureWarning: When grouping with a length-1 list-like, you will need to pass a length-1 tuple to get_group in a future version of pandas. Pass `(name,)` instead of `name` to silence this warning.
  print(hood.get_group(h).copy())
/var/folders/1g/j5t4q2s518533ryxlrw4rpnm0000gn/T/ipykernel_1756/3807886375.py:3: FutureWarning: When grouping with a length-1 list-like, you will need to pass a length-1 tuple to get_group in a future version of pandas. Pass `(name,)` instead of `name` to silence this warning.
  print(hood.get_group(h).copy())
/var/folders/1g/j5t4q2s518533ryxlrw4rpnm0000gn/T/ipykernel_1756/3807886375.py:3: FutureWarning: When grouping with a length-1 list-like, you will need to pass a length-1 tuple to get_group in a future version of pandas. Pass `(name,)` instead of `name` to silence this warning.
  print(hood.get_group(h).copy())
/var/folders/1g/j5t4q2s518533ryxlrw4rpnm0000gn/T/ipykernel_1756/3807886375.py:3: FutureWarning: When grouping with a length-1 list-like, you will need to pass a length-1 tuple to get_group in a future version of pandas. Pass `(name,)` instead of `name` to silence this warning.
  print(hood.get_group(h).copy())
/var/folders/1g/j5t4q2s518533ryxlrw4rpnm0000gn/T/ipykernel_1756/3807886375.py:3: FutureWarning: When grouping with a length-1 list-like, you will need to pass a length-1 tuple to get_group in a future version of pandas. Pass `(name,)` instead of `name` to silence this warning.
  print(hood.get_group(h).copy())
/var/folders/1g/j5t4q2s518533ryxlrw4rpnm0000gn/T/ipykernel_1756/3807886375.py:3: FutureWarning: When grouping with a length-1 list-like, you will need to pass a length-1 tuple to get_group in a future version of pandas. Pass `(name,)` instead of `name` to silence this warning.
  print(hood.get_group(h).copy())
/var/folders/1g/j5t4q2s518533ryxlrw4rpnm0000gn/T/ipykernel_1756/3807886375.py:3: FutureWarning: When grouping with a length-1 list-like, you will need to pass a length-1 tuple to get_group in a future version of pandas. Pass `(name,)` instead of `name` to silence this warning.
  print(hood.get_group(h).copy())
/var/folders/1g/j5t4q2s518533ryxlrw4rpnm0000gn/T/ipykernel_1756/3807886375.py:3: FutureWarning: When grouping with a length-1 list-like, you will need to pass a length-1 tuple to get_group in a future version of pandas. Pass `(name,)` instead of `name` to silence this warning.
  print(hood.get_group(h).copy())
/var/folders/1g/j5t4q2s518533ryxlrw4rpnm0000gn/T/ipykernel_1756/3807886375.py:3: FutureWarning: When grouping with a length-1 list-like, you will need to pass a length-1 tuple to get_group in a future version of pandas. Pass `(name,)` instead of `name` to silence this warning.
  print(hood.get_group(h).copy())
/var/folders/1g/j5t4q2s518533ryxlrw4rpnm0000gn/T/ipykernel_1756/3807886375.py:3: FutureWarning: When grouping with a length-1 list-like, you will need to pass a length-1 tuple to get_group in a future version of pandas. Pass `(name,)` instead of `name` to silence this warning.
  print(hood.get_group(h).copy())
/var/folders/1g/j5t4q2s518533ryxlrw4rpnm0000gn/T/ipykernel_1756/3807886375.py:3: FutureWarning: When grouping with a length-1 list-like, you will need to pass a length-1 tuple to get_group in a future version of pandas. Pass `(name,)` instead of `name` to silence this warning.
  print(hood.get_group(h).copy())
/var/folders/1g/j5t4q2s518533ryxlrw4rpnm0000gn/T/ipykernel_1756/3807886375.py:3: FutureWarning: When grouping with a length-1 list-like, you will need to pass a length-1 tuple to get_group in a future version of pandas. Pass `(name,)` instead of `name` to silence this warning.
  print(hood.get_group(h).copy())
/var/folders/1g/j5t4q2s518533ryxlrw4rpnm0000gn/T/ipykernel_1756/3807886375.py:3: FutureWarning: When grouping with a length-1 list-like, you will need to pass a length-1 tuple to get_group in a future version of pandas. Pass `(name,)` instead of `name` to silence this warning.
  print(hood.get_group(h).copy())
/var/folders/1g/j5t4q2s518533ryxlrw4rpnm0000gn/T/ipykernel_1756/3807886375.py:3: FutureWarning: When grouping with a length-1 list-like, you will need to pass a length-1 tuple to get_group in a future version of pandas. Pass `(name,)` instead of `name` to silence this warning.
  print(hood.get_group(h).copy())
/var/folders/1g/j5t4q2s518533ryxlrw4rpnm0000gn/T/ipykernel_1756/3807886375.py:3: FutureWarning: When grouping with a length-1 list-like, you will need to pass a length-1 tuple to get_group in a future version of pandas. Pass `(name,)` instead of `name` to silence this warning.
  print(hood.get_group(h).copy())
/var/folders/1g/j5t4q2s518533ryxlrw4rpnm0000gn/T/ipykernel_1756/3807886375.py:3: FutureWarning: When grouping with a length-1 list-like, you will need to pass a length-1 tuple to get_group in a future version of pandas. Pass `(name,)` instead of `name` to silence this warning.
  print(hood.get_group(h).copy())
/var/folders/1g/j5t4q2s518533ryxlrw4rpnm0000gn/T/ipykernel_1756/3807886375.py:3: FutureWarning: When grouping with a length-1 list-like, you will need to pass a length-1 tuple to get_group in a future version of pandas. Pass `(name,)` instead of `name` to silence this warning.
  print(hood.get_group(h).copy())
/var/folders/1g/j5t4q2s518533ryxlrw4rpnm0000gn/T/ipykernel_1756/3807886375.py:3: FutureWarning: When grouping with a length-1 list-like, you will need to pass a length-1 tuple to get_group in a future version of pandas. Pass `(name,)` instead of `name` to silence this warning.
  print(hood.get_group(h).copy())
/var/folders/1g/j5t4q2s518533ryxlrw4rpnm0000gn/T/ipykernel_1756/3807886375.py:3: FutureWarning: When grouping with a length-1 list-like, you will need to pass a length-1 tuple to get_group in a future version of pandas. Pass `(name,)` instead of `name` to silence this warning.
  print(hood.get_group(h).copy())
/var/folders/1g/j5t4q2s518533ryxlrw4rpnm0000gn/T/ipykernel_1756/3807886375.py:3: FutureWarning: When grouping with a length-1 list-like, you will need to pass a length-1 tuple to get_group in a future version of pandas. Pass `(name,)` instead of `name` to silence this warning.
  print(hood.get_group(h).copy())
/var/folders/1g/j5t4q2s518533ryxlrw4rpnm0000gn/T/ipykernel_1756/3807886375.py:3: FutureWarning: When grouping with a length-1 list-like, you will need to pass a length-1 tuple to get_group in a future version of pandas. Pass `(name,)` instead of `name` to silence this warning.
  print(hood.get_group(h).copy())
/var/folders/1g/j5t4q2s518533ryxlrw4rpnm0000gn/T/ipykernel_1756/3807886375.py:3: FutureWarning: When grouping with a length-1 list-like, you will need to pass a length-1 tuple to get_group in a future version of pandas. Pass `(name,)` instead of `name` to silence this warning.
  print(hood.get_group(h).copy())
/var/folders/1g/j5t4q2s518533ryxlrw4rpnm0000gn/T/ipykernel_1756/3807886375.py:3: FutureWarning: When grouping with a length-1 list-like, you will need to pass a length-1 tuple to get_group in a future version of pandas. Pass `(name,)` instead of `name` to silence this warning.
  print(hood.get_group(h).copy())
/var/folders/1g/j5t4q2s518533ryxlrw4rpnm0000gn/T/ipykernel_1756/3807886375.py:3: FutureWarning: When grouping with a length-1 list-like, you will need to pass a length-1 tuple to get_group in a future version of pandas. Pass `(name,)` instead of `name` to silence this warning.
  print(hood.get_group(h).copy())

In [151]:
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error, r2_score
dic = {}
for h in temp:
    temp2 = hood.get_group(h).copy()
    X = temp2[['YEAR', 'MEDIAN SALE PRICE', 'NUMBER OF SALES']] # independent variables table
    y = temp2['AVERAGE SALE PRICE']
    # print(f'{X}')
    # split the data 80/20
    X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=0)
    # print(f"test: {y_test}  \npred:{y_pred}")
    # fit model
    model = LinearRegression()
    model.fit(X_train, y_train)
    
    # compare to test data
    y_pred = model.predict(X_test)
    dic[h] = y_pred[0]

    # test 80 to 20 accuracy
    mse = mean_squared_error(y_test, y_pred)
    r2 = r2_score(y_test, y_pred)
    
    print(f'{h} - Mean Squared Error: {mse}')
    print(f'{h} - r2: {r2}')

ALPHABET CITY - Mean Squared Error: 3.469446951953614e-18
ALPHABET CITY - r2: nan
CHELSEA - Mean Squared Error: 89489866195.52199
CHELSEA - r2: 0.9927625546202706
CLINTON - Mean Squared Error: 13322500000000.0
CLINTON - r2: nan
EAST VILLAGE - Mean Squared Error: 3864199999999.705
EAST VILLAGE - r2: 0.11535908060719646
GRAMERCY - Mean Squared Error: 1.0842021724855044e-19
GRAMERCY - r2: 1.0
GREENWICH VILLAGE-CENTRAL - Mean Squared Error: 4557793869208.0205
GREENWICH VILLAGE-CENTRAL - r2: -0.0525500418341216
GREENWICH VILLAGE-WEST - Mean Squared Error: 8071007486847.983
GREENWICH VILLAGE-WEST - r2: -6.341667248335097
HARLEM-CENTRAL - Mean Squared Error: 78330627316.1221
HARLEM-CENTRAL - r2: 0.36492231542736797
HARLEM-UPPER - Mean Squared Error: 75782553119.65565
HARLEM-UPPER - r2: 0.7841922422397429
INWOOD - Mean Squared Error: 2816211542.395512
INWOOD - r2: 0.8959913400682556
LITTLE ITALY - Mean Squared Error: 1.3877787807814457e-17
LITTLE ITALY - r2: nan
MIDTOWN EAST - Mean Squared Error: 1539272327074.444
MIDTOWN EAST - r2: -54.574667019405254
MURRAY HILL - Mean Squared Error: 7384682382.984809
MURRAY HILL - r2: 0.9787757570864947
SOHO - Mean Squared Error: 1297418896497.3645
SOHO - r2: 0.8133691269494897
SOUTHBRIDGE - Mean Squared Error: 0.0
SOUTHBRIDGE - r2: nan
TRIBECA - Mean Squared Error: 62590060117.2406
TRIBECA - r2: 0.9912972213048966
UPPER EAST SIDE (59-79) - Mean Squared Error: 12223646987506.07
UPPER EAST SIDE (59-79) - r2: -2.1939099634212935
UPPER EAST SIDE (79-96) - Mean Squared Error: 488568109560.8908
UPPER EAST SIDE (79-96) - r2: -0.6820513796930614
UPPER WEST SIDE (59-79) - Mean Squared Error: 1622520728519.2654
UPPER WEST SIDE (59-79) - r2: -0.028427303497796208
UPPER WEST SIDE (79-96) - Mean Squared Error: 517934896110.7715
UPPER WEST SIDE (79-96) - r2: -0.3480768314773497
UPPER WEST SIDE (96-116) - Mean Squared Error: 4.336808689942018e-19
UPPER WEST SIDE (96-116) - r2: 1.0
WASHINGTON HEIGHTS LOWER - Mean Squared Error: 7066344784.102304
WASHINGTON HEIGHTS LOWER - r2: 0.8780430490154897
KIPS BAY - Mean Squared Error: 1.6916193489925103e-09
KIPS BAY - r2: nan
HARLEM-EAST - Mean Squared Error: 125462869439.58838
HARLEM-EAST - r2: 0.8659665277171235
MANHATTAN VALLEY - Mean Squared Error: 2.595926945625493e-14
MANHATTAN VALLEY - r2: nan
WASHINGTON HEIGHTS UPPER - Mean Squared Error: 0.0
WASHINGTON HEIGHTS UPPER - r2: nan
HARLEM-WEST - Mean Squared Error: 2131600000000.0
HARLEM-WEST - r2: nan
LOWER EAST SIDE - Mean Squared Error: 15602500000000.0
LOWER EAST SIDE - r2: nan

/var/folders/1g/j5t4q2s518533ryxlrw4rpnm0000gn/T/ipykernel_1756/3791956488.py:6: FutureWarning: When grouping with a length-1 list-like, you will need to pass a length-1 tuple to get_group in a future version of pandas. Pass `(name,)` instead of `name` to silence this warning.
  temp2 = hood.get_group(h).copy()
/Users/z/Desktop/_TheHub/prediction-model-nyc/.venv/lib/python3.12/site-packages/sklearn/metrics/_regression.py:1211: UndefinedMetricWarning: R^2 score is not well-defined with less than two samples.
  warnings.warn(msg, UndefinedMetricWarning)
/var/folders/1g/j5t4q2s518533ryxlrw4rpnm0000gn/T/ipykernel_1756/3791956488.py:6: FutureWarning: When grouping with a length-1 list-like, you will need to pass a length-1 tuple to get_group in a future version of pandas. Pass `(name,)` instead of `name` to silence this warning.
  temp2 = hood.get_group(h).copy()
/var/folders/1g/j5t4q2s518533ryxlrw4rpnm0000gn/T/ipykernel_1756/3791956488.py:6: FutureWarning: When grouping with a length-1 list-like, you will need to pass a length-1 tuple to get_group in a future version of pandas. Pass `(name,)` instead of `name` to silence this warning.
  temp2 = hood.get_group(h).copy()
/Users/z/Desktop/_TheHub/prediction-model-nyc/.venv/lib/python3.12/site-packages/sklearn/metrics/_regression.py:1211: UndefinedMetricWarning: R^2 score is not well-defined with less than two samples.
  warnings.warn(msg, UndefinedMetricWarning)
/var/folders/1g/j5t4q2s518533ryxlrw4rpnm0000gn/T/ipykernel_1756/3791956488.py:6: FutureWarning: When grouping with a length-1 list-like, you will need to pass a length-1 tuple to get_group in a future version of pandas. Pass `(name,)` instead of `name` to silence this warning.
  temp2 = hood.get_group(h).copy()
/var/folders/1g/j5t4q2s518533ryxlrw4rpnm0000gn/T/ipykernel_1756/3791956488.py:6: FutureWarning: When grouping with a length-1 list-like, you will need to pass a length-1 tuple to get_group in a future version of pandas. Pass `(name,)` instead of `name` to silence this warning.
  temp2 = hood.get_group(h).copy()
/var/folders/1g/j5t4q2s518533ryxlrw4rpnm0000gn/T/ipykernel_1756/3791956488.py:6: FutureWarning: When grouping with a length-1 list-like, you will need to pass a length-1 tuple to get_group in a future version of pandas. Pass `(name,)` instead of `name` to silence this warning.
  temp2 = hood.get_group(h).copy()
/var/folders/1g/j5t4q2s518533ryxlrw4rpnm0000gn/T/ipykernel_1756/3791956488.py:6: FutureWarning: When grouping with a length-1 list-like, you will need to pass a length-1 tuple to get_group in a future version of pandas. Pass `(name,)` instead of `name` to silence this warning.
  temp2 = hood.get_group(h).copy()
/var/folders/1g/j5t4q2s518533ryxlrw4rpnm0000gn/T/ipykernel_1756/3791956488.py:6: FutureWarning: When grouping with a length-1 list-like, you will need to pass a length-1 tuple to get_group in a future version of pandas. Pass `(name,)` instead of `name` to silence this warning.
  temp2 = hood.get_group(h).copy()
/var/folders/1g/j5t4q2s518533ryxlrw4rpnm0000gn/T/ipykernel_1756/3791956488.py:6: FutureWarning: When grouping with a length-1 list-like, you will need to pass a length-1 tuple to get_group in a future version of pandas. Pass `(name,)` instead of `name` to silence this warning.
  temp2 = hood.get_group(h).copy()
/var/folders/1g/j5t4q2s518533ryxlrw4rpnm0000gn/T/ipykernel_1756/3791956488.py:6: FutureWarning: When grouping with a length-1 list-like, you will need to pass a length-1 tuple to get_group in a future version of pandas. Pass `(name,)` instead of `name` to silence this warning.
  temp2 = hood.get_group(h).copy()
/var/folders/1g/j5t4q2s518533ryxlrw4rpnm0000gn/T/ipykernel_1756/3791956488.py:6: FutureWarning: When grouping with a length-1 list-like, you will need to pass a length-1 tuple to get_group in a future version of pandas. Pass `(name,)` instead of `name` to silence this warning.
  temp2 = hood.get_group(h).copy()
/Users/z/Desktop/_TheHub/prediction-model-nyc/.venv/lib/python3.12/site-packages/sklearn/metrics/_regression.py:1211: UndefinedMetricWarning: R^2 score is not well-defined with less than two samples.
  warnings.warn(msg, UndefinedMetricWarning)
/var/folders/1g/j5t4q2s518533ryxlrw4rpnm0000gn/T/ipykernel_1756/3791956488.py:6: FutureWarning: When grouping with a length-1 list-like, you will need to pass a length-1 tuple to get_group in a future version of pandas. Pass `(name,)` instead of `name` to silence this warning.
  temp2 = hood.get_group(h).copy()
/var/folders/1g/j5t4q2s518533ryxlrw4rpnm0000gn/T/ipykernel_1756/3791956488.py:6: FutureWarning: When grouping with a length-1 list-like, you will need to pass a length-1 tuple to get_group in a future version of pandas. Pass `(name,)` instead of `name` to silence this warning.
  temp2 = hood.get_group(h).copy()
/var/folders/1g/j5t4q2s518533ryxlrw4rpnm0000gn/T/ipykernel_1756/3791956488.py:6: FutureWarning: When grouping with a length-1 list-like, you will need to pass a length-1 tuple to get_group in a future version of pandas. Pass `(name,)` instead of `name` to silence this warning.
  temp2 = hood.get_group(h).copy()
/var/folders/1g/j5t4q2s518533ryxlrw4rpnm0000gn/T/ipykernel_1756/3791956488.py:6: FutureWarning: When grouping with a length-1 list-like, you will need to pass a length-1 tuple to get_group in a future version of pandas. Pass `(name,)` instead of `name` to silence this warning.
  temp2 = hood.get_group(h).copy()
/Users/z/Desktop/_TheHub/prediction-model-nyc/.venv/lib/python3.12/site-packages/sklearn/metrics/_regression.py:1211: UndefinedMetricWarning: R^2 score is not well-defined with less than two samples.
  warnings.warn(msg, UndefinedMetricWarning)
/var/folders/1g/j5t4q2s518533ryxlrw4rpnm0000gn/T/ipykernel_1756/3791956488.py:6: FutureWarning: When grouping with a length-1 list-like, you will need to pass a length-1 tuple to get_group in a future version of pandas. Pass `(name,)` instead of `name` to silence this warning.
  temp2 = hood.get_group(h).copy()
/var/folders/1g/j5t4q2s518533ryxlrw4rpnm0000gn/T/ipykernel_1756/3791956488.py:6: FutureWarning: When grouping with a length-1 list-like, you will need to pass a length-1 tuple to get_group in a future version of pandas. Pass `(name,)` instead of `name` to silence this warning.
  temp2 = hood.get_group(h).copy()
/var/folders/1g/j5t4q2s518533ryxlrw4rpnm0000gn/T/ipykernel_1756/3791956488.py:6: FutureWarning: When grouping with a length-1 list-like, you will need to pass a length-1 tuple to get_group in a future version of pandas. Pass `(name,)` instead of `name` to silence this warning.
  temp2 = hood.get_group(h).copy()
/var/folders/1g/j5t4q2s518533ryxlrw4rpnm0000gn/T/ipykernel_1756/3791956488.py:6: FutureWarning: When grouping with a length-1 list-like, you will need to pass a length-1 tuple to get_group in a future version of pandas. Pass `(name,)` instead of `name` to silence this warning.
  temp2 = hood.get_group(h).copy()
/var/folders/1g/j5t4q2s518533ryxlrw4rpnm0000gn/T/ipykernel_1756/3791956488.py:6: FutureWarning: When grouping with a length-1 list-like, you will need to pass a length-1 tuple to get_group in a future version of pandas. Pass `(name,)` instead of `name` to silence this warning.
  temp2 = hood.get_group(h).copy()
/var/folders/1g/j5t4q2s518533ryxlrw4rpnm0000gn/T/ipykernel_1756/3791956488.py:6: FutureWarning: When grouping with a length-1 list-like, you will need to pass a length-1 tuple to get_group in a future version of pandas. Pass `(name,)` instead of `name` to silence this warning.
  temp2 = hood.get_group(h).copy()
/var/folders/1g/j5t4q2s518533ryxlrw4rpnm0000gn/T/ipykernel_1756/3791956488.py:6: FutureWarning: When grouping with a length-1 list-like, you will need to pass a length-1 tuple to get_group in a future version of pandas. Pass `(name,)` instead of `name` to silence this warning.
  temp2 = hood.get_group(h).copy()
/var/folders/1g/j5t4q2s518533ryxlrw4rpnm0000gn/T/ipykernel_1756/3791956488.py:6: FutureWarning: When grouping with a length-1 list-like, you will need to pass a length-1 tuple to get_group in a future version of pandas. Pass `(name,)` instead of `name` to silence this warning.
  temp2 = hood.get_group(h).copy()
/Users/z/Desktop/_TheHub/prediction-model-nyc/.venv/lib/python3.12/site-packages/sklearn/metrics/_regression.py:1211: UndefinedMetricWarning: R^2 score is not well-defined with less than two samples.
  warnings.warn(msg, UndefinedMetricWarning)
/var/folders/1g/j5t4q2s518533ryxlrw4rpnm0000gn/T/ipykernel_1756/3791956488.py:6: FutureWarning: When grouping with a length-1 list-like, you will need to pass a length-1 tuple to get_group in a future version of pandas. Pass `(name,)` instead of `name` to silence this warning.
  temp2 = hood.get_group(h).copy()
/var/folders/1g/j5t4q2s518533ryxlrw4rpnm0000gn/T/ipykernel_1756/3791956488.py:6: FutureWarning: When grouping with a length-1 list-like, you will need to pass a length-1 tuple to get_group in a future version of pandas. Pass `(name,)` instead of `name` to silence this warning.
  temp2 = hood.get_group(h).copy()
/Users/z/Desktop/_TheHub/prediction-model-nyc/.venv/lib/python3.12/site-packages/sklearn/metrics/_regression.py:1211: UndefinedMetricWarning: R^2 score is not well-defined with less than two samples.
  warnings.warn(msg, UndefinedMetricWarning)
/var/folders/1g/j5t4q2s518533ryxlrw4rpnm0000gn/T/ipykernel_1756/3791956488.py:6: FutureWarning: When grouping with a length-1 list-like, you will need to pass a length-1 tuple to get_group in a future version of pandas. Pass `(name,)` instead of `name` to silence this warning.
  temp2 = hood.get_group(h).copy()
/Users/z/Desktop/_TheHub/prediction-model-nyc/.venv/lib/python3.12/site-packages/sklearn/metrics/_regression.py:1211: UndefinedMetricWarning: R^2 score is not well-defined with less than two samples.
  warnings.warn(msg, UndefinedMetricWarning)
/var/folders/1g/j5t4q2s518533ryxlrw4rpnm0000gn/T/ipykernel_1756/3791956488.py:6: FutureWarning: When grouping with a length-1 list-like, you will need to pass a length-1 tuple to get_group in a future version of pandas. Pass `(name,)` instead of `name` to silence this warning.
  temp2 = hood.get_group(h).copy()
/Users/z/Desktop/_TheHub/prediction-model-nyc/.venv/lib/python3.12/site-packages/sklearn/metrics/_regression.py:1211: UndefinedMetricWarning: R^2 score is not well-defined with less than two samples.
  warnings.warn(msg, UndefinedMetricWarning)
/var/folders/1g/j5t4q2s518533ryxlrw4rpnm0000gn/T/ipykernel_1756/3791956488.py:6: FutureWarning: When grouping with a length-1 list-like, you will need to pass a length-1 tuple to get_group in a future version of pandas. Pass `(name,)` instead of `name` to silence this warning.
  temp2 = hood.get_group(h).copy()
/Users/z/Desktop/_TheHub/prediction-model-nyc/.venv/lib/python3.12/site-packages/sklearn/metrics/_regression.py:1211: UndefinedMetricWarning: R^2 score is not well-defined with less than two samples.
  warnings.warn(msg, UndefinedMetricWarning)

Mean Squared Error: 1325107039695.5298
R-squared: 0.9544704908242749